[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=hector_slam_launch
Icon=/home/user/ros/bolin_ws/src/ros-quick-start/img/ros_icon.png

Exec=bash -ic 'set -o history;cd /home/user/ros/kevin_bolin_ws;source devel/setup.bash;roslaunch hector_slam_launch tutorial.launch;exec bash;$SHELL'
