[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=AnhungControl
Icon=/home/user/ros/bolin_ws/src/ros-quick-start/img/ros_icon.png

Exec=bash -ic 'cd /home/user/ros/kevin_bolin_ws;source devel/setup.bash;rosrun AnhungControl AnhungControl 192.168.72.153 9930;exec bash;$SHELL'
