[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=move_robot_test
Icon=/home/user/ros/bolin_ws/src/ros-quick-start/img/ros_icon.png

Exec=bash -c 'source /opt/ros/melodic/setup.bash;cd /home/user/ros/kevin_bolin_ws;source devel/setup.bash;rosrun move_robot move_robot /dev/kevin_arduino_nano 115200;exec bash;$SHELL'
